<link rel="stylesheet" href="/css/footer.min.css">
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="top-footer col-12 row">
                <div class="col-md-3 logo-footer">
                    <img src="https://images-platform.99static.com//N4VUoRJLktkazbY_0VENbLXlRyI=/13x0:1589x1576/fit-in/500x500/99designs-contests-attachments/98/98546/attachment_98546587" alt="">
                    <p class="logo-desc">Whoever said you can't buy happiness forgot little puppies - <b>Gene Hill</b></p>
                </div>
                <div class="col-md-2 follow-footer">
                    <p class="text-follow">Follow Us</p>
                    <div class="icon-follow ">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3 call-footer">
                    <p class="text-call">CALL US</p>
                    <p class="phone-number"><strong><a href="#">0777 123 456</a></strong></p>
                </div>
                <div class="col-md-4 sub-footer">
                    <p class="text-sub">WE'LL SEND AN EMAIL TO YOU INBOX</p>
                    <form class="sub-email">
                        <input type="email">
                    </form>
                    <button class="sub-button btn btn-success">SUBCRIBE</button>
                </div>
            </div>
            <div class="bottom-footer col-12">
                <span class="text-muted">&copy;DTshop 2022</span>
            </div>
        </div>
    </div>
</footer>