<% layout('layout/boilerplate') %> 
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-8 mx-auto">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading text-center"><%=err.message  %> </h4>
                <h3 class="text-center"><%= err.statusCode %> </h3>
                <hr>
                <p class="mb-0"><%= err.stack %> </p>
              </div>
        </div>
    </div>