@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}
body .buyandsell {
  margin-top: 70px !important;
}
body .buyandsell .btn-buysell {
  display: flex;
}
body .buyandsell .main {
  width: 170px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fdcb6e;
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
}
body .buyandsell .main a {
  position: absolute;
  text-decoration: none;
  color: #000;
  z-index: 1000;
}
body .buyandsell .main::after {
  content: "";
  top: 0;
  left: 0;
  width: 170px;
  height: 70px;
  background: linear-gradient(to right, #ff7675, #e84393);
  opacity: 0;
  transition: 0.3s;
}
body .buyandsell .main:hover {
  box-shadow: -5px -5px 0 0;
  transform: scale(0.9);
}
body .buyandsell .main:hover::after {
  opacity: 1;
}
body .buyandsell .text-buyandsell {
  color: #006954;
}
body .buyandsell .new-dog {
  font-size: 20px;
  padding: 0px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  background: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
body .buyandsell .new-dog:hover {
  background-position: right center;
  color: #006954;
  transition: all 0.5s ease-in-out;
}
body .buyandsell .buy-dog {
  font-size: 20px;
  padding: 0px;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: none;
  background: linear-gradient(to left, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
body .buyandsell .buy-dog:hover {
  background-position: right center;
  color: #006954;
  transition: all 0.5s ease-in-out;
}
body .carousel {
  height: 500px;
  background-image: url(https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body .carousel .quote-dog p {
  padding: 50px;
  position: relative;
  font-size: 20px;
  color: #fff;
}
body .carousel .quote-dog p strong {
  position: absolute;
  top: 0%;
  font-size: 40px;
  color: #006954;
}
body .waitting-text {
  color: #006954;
  margin-top: 30px !important;
  margin-bottom: 30px;
}
body .text-all {
  color: #006954;
  margin-top: 0px !important;
}
body .container {
  margin-top: 0px;
}
body .container .text-center {
  margin-top: 50px;
}
body .container .row .col .wrap-card {
  text-decoration: none;
}
body .container .row .col .card {
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}
body .container .row .col .card:hover {
  animation: zoomInOut 1s;
}
body .container .row .col .card .row .product-image {
  border-top-left-radius: 10px;
}
body .container .row .col .card .row .product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body .container .row .col .card .row .product-infor .card-body .card-title {
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
body .container .row .col .card .row .product-infor .card-body .text-location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .container .row .col .card .row .product-infor .card-body .text-discrip {
  font-size: 13px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .container .row .col .card .product-btn .prd-btn {
  padding: 10px 20px;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}